.first-content {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.column {
    flex: 1; 
    padding: 20px; 
  }

  .animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 380px;
    background-color: #2A925E;
    border-radius: 32px;
  }
  
  .animated-text {
    animation: bounce 1s ease-in-out infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  