.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
    /* border: 1px solid #ccc; */
}


.btn {
    width: 100px;
    height: 70px;
    margin-right: 10px;
    margin-left: 80px;
    background-color: goldenrod;
    border-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}
  